*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row{
    /* background-color: rgb(174, 135, 135); */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(177,187,45,1) 0%, rgba(0,212,255,1) 100%);
    border-radius: 30px;
    box-shadow: 12px 12px 27px;
    width: auto;
    height: 37rem;
}
img{
    width: 120%;
    height: 37.5rem;
    border-top-left-radius: 229px;
    border-bottom-right-radius: 429px;
}
.login h1{
    font-size: 4rem;
    font-weight: 300;
}
.inp{
    height: 50px;
    width: 70%;
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    box-shadow: -26px -19px 30px -19px rgba(0, 0, 0, 0.35);
}
.btn1{
    border-radius: 20px;
    border: none;
    outline: none;
    color: white;
    height: 40px;
    width: 120px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,116,1) 0%, rgba(0,212,255,1) 100%);
}
.btn1:hover{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,116,1) 35%, rgba(0,212,255,1) 100%);
}
span{
   padding: 5px;
}
.fa-facebook{
    color: white;
}
.fa-facebook:hover{
    color: blue;
}
.fa-instagram{
    color: white;
}
.fa-instagram:hover{
    color: rgb(238, 66, 132);
}
.fa-linkedin{
    color: white;
}
.fa-linkedin:hover{
    color: rgb(66, 112, 238);
}
